
<%- include('includes/head') %>
<%- include('includes/nav') %>

<div class="home-container">
  <h1>EvoHosting</h1>
  <h2 style="color: #2563EB;">Your Complete Platform</h2>
  <p>Empower your Telegram bot with the power of True Hosting!</p>
  <p>Use your favorite language, sush as JavaScript, and other powerful options!</p>
  <a href="/dashboard"><button id="home-button-dashboard">Access dashboard</button></a>

</div>

  <%- include('includes/footer') %> 
