<%- include('includes/head') %> 
<%- include('includes/nav') %> 

<div class="upload-container">
    <h1>Up new app</h1>
    <div class="upload-div">
        <div class="upload-file">
            <h3>Here you select the new file</h3>
            <input type="file" id="fileInput" name="fileInput">
            <label for="fileInput">Choose a file</label>
        </div>
        <div class="upload-tutorial">
            <h3>See this tutorial on how to configure your application</h3>
            <iframe width="370" height="315" src="https://www.youtube-nocookie.com/embed/xpFgXnm2GxA?si=h2QYMP39-0s9egxm" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>
</div>

<%- include('includes/footer') %> 